<!DOCTYPE html>
<html>
<head>
<title>Byte 1 Tutorial</title>
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</head>
<body>
<h1>Data Pipeline Project Byte Example</h1>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0%2C+col4+from+1b5UX6_i-6HqfaiQX4zYdy_l6oa_zqU955w3Nefyc+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=8.134571290529967&amp;lng=16.705592949999982&amp;t=1&amp;z=2&amp;l=col0&amp;y=2&amp;tmplt=3&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.75&amp;hmr=30&amp;hmw=4&amp;hml=GEOCODABLE"></iframe>
</body>
</html>
